.s-adv {
  &__container {
    @include flex-between;
    gap: 30px;
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__items {
    display: flex;
    gap: 30px;
    flex: 0 1 810px;
    @include laptop-min {
      flex: none;
      width: 100%;
    }
    @include tablet-min {
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  &__item {
    max-width: 330px;
    @include tablet-min {
      max-width: none;
      width: 100%;
    }
  }
  &__item-num {
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -0.1em;
    color: var(--primary);
    margin-bottom: 50px;
    @include laptop {
      font-size: 102px;
    }
    @include laptop-middle {
      font-size: 82px;
    }
    @include laptop-min {
      font-size: 64px;
      margin-bottom: 30px;
    }
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__content {
    font-size: 20px;
    margin: 0;
    @include laptop-middle {
      font-size: 18px;
    }

    strong {
      display: block;
      margin-bottom: 15px;
    }
  }
  &__gallery {
    width: 530px;
    @include laptop-middle {
      width: 455px;
    }
    @include laptop-min {
      max-width: 100%;
      width: 530px;
      margin: 0 auto;
    }
  }
  &__slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 415px;
    @include laptop-middle {
      height: 355px;
    }
    @include laptop-min {
      aspect-ratio: 1/0.8;
      height: auto;
    }

    .slider-btn {
      position: absolute;
      z-index: 10;

      &._prev {
        left: 0;
        transform: translateX(-50%);
      }
      &._next {
        right: 0;
        transform: translateX(50%);
      }

      @include desktop {
        &._prev {
          left: 10px;
          transform: translateX(0);
        }
        &._next {
          right: 10px;
          transform: translateX(0);
        }
      }
    }
  }
  &__slide {
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__pagination {
    margin-top: 25px !important;
    gap: 15px !important;

    .swiper-pagination-bullet {
      width: 10px !important;
      height: 10px !important;
    }
  }
}
