<section class="intro-single" style="background: url('@img/intro-single-bg.jpg') 0 0 / cover no-repeat;">
  <div class="container intro-single__container">
    <div class="intro-single__body">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="/" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">»</span>
        <span class="aioseo-breadcrumb">
          <a href="#" title="Главная">Услуги</a>
        </span>
        <span class="aioseo-breadcrumb-separator">»</span>
        <span class="aioseo-breadcrumb"> Снизить / набрать массу тела </span>
      </div>
      <h1 class="s-title intro-single__title">Снизить / набрать массу тела</h1>
      <div class="content intro-single__content">
        <p>
          Наше дело не так однозначно, как может показаться: повышение уровня
          гражданского сознания предопределяет высокую востребованность
          глубокомысленных рассуждений.
        </p>
      </div>
      <ul class="list-check">
        <li>Персонализированный подход</li>
        <li>Поддержка после консультации</li>
        <li>Доступные рекомендации</li>
        <li>Реальные результаты</li>
      </ul>
      <a href="#modal-consult" data-fancybox class="btn-s intro-single__btn">Записаться на консультацию</a>
    </div>
    <img src="@img/single-intro.jpg" alt="image" class="intro-single__img">
  </div>
</section>
