<section
  class="intro"
  style="
    background: url(&quot;@img/intro.jpg&quot;) top 65px right 0 / cover
      no-repeat;
  "
>
  <div class="intro__blur">
    <div class="intro__blur-inside">
      <div></div>
    </div>
  </div>
  <div class="container intro__container">
    <h1 class="intro__title _cormorant">Юлия Ахметвалиева</h1>
    <div class="intro__list list-check">
      <li>Врач антивозрастной медицины (Anti-Age)</li>
      <li>Клинический нутрициолог</li>
      <li>Кандидат медицинских наук</li>
      <li>MBA в диетологии</li>
    </div>
    <div class="intro__counter">
      <div class="intro__counter-inside">
        <div class="intro__counter-num _cormorant">1250</div>
        <div class="intro__counter-content">консультаций за 5 лет практики</div>
      </div>
    </div>
    <a href="#modal-consult" data-fancybox class="btn-s intro__btn"
      >Записаться на консультацию</a
    >
  </div>
  <div class="sect-circle">
    <div class="sect-circle__inside"></div>
  </div>
</section>
