<div class="modal" id="modal-consult">
  <h3 class="modal__title _cormorant">Записаться на консультацию</h3>
  <form action="#" class="modal__form">
    <div class="input-control">
      <input type="text" placeholder="Ваше имя" class="input" />
    </div>
    <div class="input-control">
      <input type="tel" placeholder="Ваш номер телефона" class="input" />
    </div>
    <button class="btn-s form-btn">Отправить</button>
    <input type="checkbox" id="consult-policy" class="form-policy-input" />
    <label for="consult-policy" class="form-policy-label">
      <span>Cогласен с условиями <a href="#" target="_blank">политики конфиденциальности данных</a></span>
    </label>
  </form>
</div>
