<section class="s-consult sect-m">
  <div class="container">
    <div
      class="s-consult__body"
      style="
        background: url(&quot;@img/consult-bg.jpg&quot;) 0 0 / cover no-repeat;
      "
    >
      <h2 class="s-title s-consult__title">Запишитесь</h2>
      <p class="content s-consult__content">на консультацию прямо сейчас</p>
      <form action="#" class="s-consult__form">
        <div class="input-control">
          <input type="text" placeholder="Ваше имя" class="input" />
        </div>
        <div class="input-control">
          <input type="tel" placeholder="Ваш номер телефона" class="input" />
        </div>
        <button class="btn-s form-btn">Получить сейчас</button>
        <input
          type="checkbox"
          id="consult-policy-sect"
          class="form-policy-input"
          required
          checked
        />
        <label
          for="consult-policy-sect"
          class="form-policy-label"
        >
          <span
            >Cогласен с условиями
            <a href="#" target="_blank"
              >политики конфиденциальности данных</a
            ></span
          >
        </label>
      </form>
      <div class="s-consult__social">
        <span>или напишите, я онлайн</span>
        <div class="s-consult__social-row">
          <a href="#" target="_blank" class="s-consult__social-btn">
            <img src="@img/wh.svg" alt="icon" />
          </a>
          <a href="#" target="_blank" class="s-consult__social-btn">
            <img src="@img/tg.svg" alt="icon" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
