<section class="s-for-you sect-m">
  <div class="container s-for-you__container">
    <h2 class="s-title s-for-you__title"><span>ДЛЯ</span> ВАС</h2>
    <p class="content s-for-you__content">
      Здесь также информация <br />
      как вам подготовить к консультации нутрициолога
    </p>
    <div class="s-for-you__form-title">Выберите куда вам отправить?</div>
    <form action="#" class="s-for-you__form">
      <div class="input-control">
        <select class="select">
          <option value="Получить в WhatsApp">Получить в WhatsApp</option>
          <option value="Получить в Telegram">Получить в Telegram</option>
        </select>
      </div>
      <div class="input-control">
        <input type="tel" placeholder="Ваш номер телефона" class="input" />
      </div>
      <button class="btn-s form-btn">Получить сейчас</button>
    </form>
    <img src="@img/for-you.png" alt="image" class="s-for-you__img">
  </div>
</section>
