<section class="s-prices sect-m">
  <div class="container">
    <div class="s-head">
      <div>
        <h2 class="s-title">Цены и тарифы</h2>
        <p class="content">У консультаций, есть 4 тарифа</p>
      </div>
    </div>
    <div class="s-prices__grid">
      <div class="s-prices__item">
        <h3 class="s-prices__item-title _cormorant">Первичная консультация</h3>
        <ul class="list s-prices__item-list">
          <li>Диагностика, рекомендации</li>
          <li>
            Повторная консультация — корректировка <br />
            плана со скидкой 30%
          </li>
        </ul>
        <div class="s-prices__item-price">
          <div class="s-prices__item-price-content">Стоимость:</div>
          <div class="s-prices__item-price-value">10 000 ₽</div>
        </div>
        <a
          href="#modal-consult"
          data-fancybox
          data-consult-title="Первичная консультация"
          class="btn-s s-prices__item-price-btn"
          >Записаться на консультацию</a
        >
      </div>
      <div class="s-prices__item">
        <h3 class="s-prices__item-title _cormorant">
          Разбор <br />
          анализов
        </h3>
        <ul class="list s-prices__item-list">
          <li>
            От клиента <br />
            или по назначению
          </li>
        </ul>
        <div class="s-prices__item-price">
          <div class="s-prices__item-price-content">Стоимость:</div>
          <div class="s-prices__item-price-value">1 500 ₽</div>
        </div>
        <a
          href="#modal-consult"
          data-fancybox
          data-consult-title="Разбор анализов"
          class="btn-s s-prices__item-price-btn"
          >Записаться на консультацию</a
        >
      </div>
      <div class="s-prices__item">
        <h3 class="s-prices__item-title _cormorant">Программа сопровождения</h3>
        <ul class="list s-prices__item-list">
          <li>Питание, сон, гормоны, стресс</li>
        </ul>
        <div class="s-prices__item-price">
          <div class="s-prices__item-price-content">Стоимость:</div>
          <div class="s-prices__item-price-value">3 000 ₽</div>
        </div>
        <a
          href="#modal-consult"
          data-fancybox
          data-consult-title="Программа сопровождения"
          class="btn-s s-prices__item-price-btn"
          >Записаться на консультацию</a
        >
      </div>
      <div class="s-prices__item">
        <h3 class="s-prices__item-title _cormorant">
          Составление <br />
          Меню
        </h3>
        <ul class="list s-prices__item-list">
          <li>Составление индивидуального плана меню</li>
        </ul>
        <div class="s-prices__item-price">
          <div class="s-prices__item-price-content">Стоимость:</div>
          <div class="s-prices__item-price-value">1 500 ₽</div>
        </div>
        <a
          href="#modal-consult"
          data-fancybox
          data-consult-title="Составление Меню"
          class="btn-s s-prices__item-price-btn"
          >Записаться на консультацию</a
        >
      </div>
    </div>
  </div>
</section>
