<section class="s-reviews sect-p" style="background: url('@img/reviews-bg.jpg') 0 0 / cover no-repeat;">
  <div class="container">
    <div class="s-head">
      <div>
        <h2 class="s-title">отзывы</h2>
        <p class="content s-reviews__content">
          и истории трансформации жизней людей
        </p>
      </div>
      <div class="slider-nav">
        <div class="slider-btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
          </svg>
        </div>
        <div class="slider-btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-reviews__slider">
      <div class="swiper-wrapper">
        <a
          href="@img/review.jpg"
          data-fancybox="reviews"
          class="swiper-slide s-reviews__slide"
        >
          <div class="s-reviews__slide-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </div>
          <img src="@img/review.jpg" alt="image" />
        </a>
        <a
          href="@img/review.jpg"
          data-fancybox="reviews"
          class="swiper-slide s-reviews__slide"
        >
          <div class="s-reviews__slide-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </div>
          <img src="@img/review.jpg" alt="image" />
        </a>
        <a
          href="@img/review.jpg"
          data-fancybox="reviews"
          class="swiper-slide s-reviews__slide"
        >
          <div class="s-reviews__slide-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </div>
          <img src="@img/review.jpg" alt="image" />
        </a>
        <a
          href="@img/review.jpg"
          data-fancybox="reviews"
          class="swiper-slide s-reviews__slide"
        >
          <div class="s-reviews__slide-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </div>
          <img src="@img/review.jpg" alt="image" />
        </a>
        <a
          href="@img/review.jpg"
          data-fancybox="reviews"
          class="swiper-slide s-reviews__slide"
        >
          <div class="s-reviews__slide-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </div>
          <img src="@img/review.jpg" alt="image" />
        </a>
        <a
          href="@img/review.jpg"
          data-fancybox="reviews"
          class="swiper-slide s-reviews__slide"
        >
          <div class="s-reviews__slide-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </div>
          <img src="@img/review.jpg" alt="image" />
        </a>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
