<section class="s-single-about sect-m">
  <div class="container">
    <div class="s-single-about__grid">
      <div class="s-single-about__item">
        <div class="s-single-about__item-num">01</div>
        <p class="s-single-about__item-content">
          Я научу самостоятельно составлять рацион без опоры на планы питания,
          диеты и подсчет калорий.
        </p>
      </div>
      <div class="s-single-about__item">
        <div class="s-single-about__item-num">02</div>
        <p class="s-single-about__item-content">
          Научу лучше чувствовать свой организм и преодолевать эмоциональную
          зависимость от еды.
        </p>
      </div>
      <div class="s-single-about__item">
        <div class="s-single-about__item-num">03</div>
        <p class="s-single-about__item-content">
          Помогу плавно внедрить полезные привычки, чтобы всегда оставаться в
          форме.
        </p>
      </div>
    </div>
  </div>
</section>