<section class="s-specifications sect-p">
  <div class="container">
    <h2 class="s-title s-specifications__title">
      Уже после <br />
      1 консультации
    </h2>
    <p class="content s-specifications__content">
      Вы получите персональный план и стартовые рекомендации, которые помогут
      вам почувствовать разницу уже через неделю.
    </p>
    <div class="s-specifications__items">
      <div class="s-specifications__item">
        <div class="s-specifications__item-num">01</div>
        <p class="s-specifications__item-content">Персонализированный подход</p>
      </div>
      <div class="s-specifications__item">
        <div class="s-specifications__item-num">02</div>
        <p class="s-specifications__item-content">
          Поддержка после консультации
        </p>
      </div>
      <div class="s-specifications__item">
        <div class="s-specifications__item-num">03</div>
        <p class="s-specifications__item-content">Доступные рекомендации</p>
      </div>
      <div class="s-specifications__item">
        <div class="s-specifications__item-num">04</div>
        <p class="s-specifications__item-content">Реальные результаты</p>
      </div>
      <div class="s-specifications__item">
        <div class="s-specifications__item-num">05</div>
        <p class="s-specifications__item-content">
          Безопасность и эффективность
        </p>
      </div>
    </div>
  </div>
  <img src="@img/s-spec.jpg" alt="image" class="s-specifications__img" />
  <div class="sect-circle">
    <div class="sect-circle__inside"></div>
  </div>
</section>
