<section class="s-steps sect-m">
  <div class="container s-steps__container">
    <img src="@img/steps.jpg" alt="image" class="s-steps__img" />
    <div class="s-steps__body">
      <div class="s-steps__item">
        <div class="s-steps__num">1</div>
        <div class="s-steps__item-body">
          <h5 class="s-steps__item-title">Запись на консультацию</h5>
          <p class="s-steps__item-content">
            Помогу восстановить энергию, наладить питание, улучшить самочувствие
            и внешний вид без жёстких ограничений и диет.
          </p>
          <a href="#modal-consult" data-fancybox class="btn-s s-steps__item-btn"
            >Записаться на консультацию</a
          >
        </div>
      </div>
      <div class="s-steps__item">
        <div class="s-steps__num">2</div>
        <div class="s-steps__item-body">
          <h5 class="s-steps__item-title">Консультация и обследование</h5>
          <p class="s-steps__item-content">
            И нет сомнений, что некоторые особенности внутренней политики
            формируют глобальную экономическую сеть и при этом — преданы
            социально-демократической анафеме.
          </p>
        </div>
      </div>
      <div class="s-steps__item">
        <div class="s-steps__num">3</div>
        <div class="s-steps__item-body">
          <h5 class="s-steps__item-title">Сопровождение на всех этапах</h5>
          <p class="s-steps__item-content">
            Наше дело не так однозначно, как может показаться: укрепление и
            развитие внутренней структуры, в своём классическом представлении,
            допускает внедрение своевременного выполнения сверхзадачи. Не
            следует, однако, забывать, что реализация намеченных плановых
            заданий играет важную роль в формировании благоприятных перспектив.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
