.modal {
  display: none;
  padding: 35px !important;
  width: 520px;
  max-width: calc(100% - 30px);
  border-radius: 15px;
  @include tablet {
    padding: 30px !important;
  }
  @include mobile {
    padding: 20px 15px !important;
  }
  &__title {
    font-size: 36px;
    text-transform: uppercase;
    color: var(--primary);
    font-family: "Cormorant", sans-serif;
    margin: 0px 0px 5px 0px;

    @include laptop-min {
      font-size: 32px;
    }
    @include tablet {
      font-size: 28px;
    }
  }
  &__content {
    font-size: 18px;
    line-height: 140%;
    margin: 0px 0px 25px 0px;
  }
  &__form {
    width: 100%;

    .form-btn {
      @include mobile {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
  }
  &__form-policy-label {
    font-size: 13px;
  }

  &__social {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 20px;
    letter-spacing: 0.04em;
  }
  &__social-row {
    display: flex;
    gap: 22px;
    flex-shrink: 0;
  }
  &__social-btn {
    display: block;
    width: 40px;
    height: 40px;
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}
